{% extends 'base.html.twig' %}

{% block title %}Test Agence Trenta{% endblock title%}

{% block body %}

<div>
    <h1>Bienvenue sur mon test Agence Trenta !</h1></br>

    <p>Bonjour !
        
    </p>



</div>

{% endblock body%}
